.post{
    width: 100%;
    margin-top: 15px;
    border-radius: 15px;
    background-color: #fff;
    box-shadow: 1px 6px 10px -7px rgba(0, 0, 0, 0.75);
}

.post__top{
    display: flex;
    align-items: center;
    position: relative;
    padding: 15px;
}

.post__avatar{
    margin-right: 10px;
}

.post__topInfo > p{
    font-size: small;
    color: gray;
}
.post__topInfo > h3{
    font-size: medium;
}

.post__image >img{
    width: 100%;
}

.post__bottom > p{
    margin-left: 15px;
    font-size: medium;
    color: #000;
    margin-top: 10px;
    margin-bottom: 10px;
}

.post__options{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    border-top: 1px solid lightgrey;
    color: gray;
    font-size: medium;
    cursor: pointer;
    padding: 15px;
    padding-top: 10px;
}

.post__option{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.post__option > p{
    margin-left: 10px;
}

.post__option:hover{
    background-color: #eff2f5;
    border-radius: 10px;
}

.post__like{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    color: gray;
    font-size: medium;
    cursor: pointer;
    padding: 15px;
    padding-top: 10px;
     border-top: 1px solid lightgrey;
}

.post__likeOptions{
    display: flex;
    align-items: center;
    padding: 5px;
}


.post__likeOptions > p{
    margin-right: 10px;
    margin-left: 10px;
}