.storyReel{
    display: flex;
    flex-direction: row;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0px 5px 7px -7px rgba(0, 0, 0, 0.75);
    width: 100%;
    overflow: scroll;
}

.storyReel::-webkit-scrollbar{
    display: none;
}